/* Базовые стили для всего сайта */
body {
  margin: 0;
  font: 13px/24px "PT Sans", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/* Шапка сайта */
.header {
  background-color: #f2f6f8;
}

.header__top {
  font: 17px/18px "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  background-color: #293449;
}

/* Логотип сайта */
.logo {
  background-color: #ee3643;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
}

.logo[href]:hover,
.logo[href]:focus {
  background-color: #ca2c37;
}

.logo[href]:active {
  background-color: #ba2732;
}

/* Форма поиска */
.header__search input {
  font: inherit;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.header__search input::-moz-placeholder {
  opacity: 1;
}

.header__search input::-webkit-input-placeholder {
  opacity: 1;
}

.header__search input:-ms-input-placeholder {
  opacity: 1;
}

.header__search input::-ms-input-placeholder {
  opacity: 1;
}

.header__search input::placeholder {
  opacity: 1;
}

.header__search input:hover {
  background-color: #212a3a;
}

.header__search input:focus {
  color: #000000;
  background-color: #ffffff;
}

.header__search button {
  background-color: transparent;
  border: none;
}

.header__search button:hover,
.header__search button:focus {
  background-color: #212a3a;
}

.header__search input:focus + button {
  background-color: #ffffff;
}

/* Ссылки для заказа */
.header__button {
  color: #ffffff;
}

.header__button:hover,
.header__button:focus {
  background-color: #212a3a;
}

.header__button:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.header__button--full {
  background-color: #ee3643;
}

.header__button--full:hover,
.header__button--full:focus {
  background-color: #ca2c37;
}

.header__button--full:active {
  background-color: #ba2732;
}

.header__button--order {
  background-color: #63a63e;
}

.header__button--order:hover,
.header__button--order:focus {
  background-color: #5fbb2d;
}

.header__button--order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

/* Заголовок сайта */
.header__title {
  font: italic 16px/23px "Cuprum", "Arial", sans-serif;
  color: #ee3643;
}

/* Контактные данные */
.header__contacts {
  font: 14px/24px "Cuprum", "Arial", sans-serif;
  color: #32425c;
  border: 3px solid #ffffff;
}

.header__contacts b {
  font: 21px/21px "Cuprum", "Arial", sans-serif;
  color: #ee3643;
}

/* Пользовательская навигация */
.user-nav {
  font: 21px/21px "Cuprum", "Arial", sans-serif;
  color: #000000;
}

.user-nav__button {
  color: #000000;
  background-color: #ffffff;
}

.user-nav__button:hover,
.user-nav__button:focus {
  color: #ee3643;
}

.user-nav__button--profile:hover,
.user-nav__button--profile:focus,
.user-nav__button--logout:hover,
.user-nav__button--logout:focus {
  color: #000000;
}

.user-nav__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__account {
  font: 16px/18px "Cuprum", "Arial", sans-serif;
  color: #32425c;
}

.user-nav__account a {
  color: #32425c;
  text-decoration: underline;
}

.user-nav__account a:hover,
.user-nav__account a:focus {
  color: #ee3643;
}

.user-nav__account a:active {
  color: rgba(50, 66, 92, 0.3);
}
