/* Базовые стили для всего сайта */
.page {
  min-width: 960px;
  margin: 0;
  font: 13px/24px "PT Sans", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Блок-центровщик */
.container {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

/* Стили для заголовков сайта */
.title {
  margin: 0;
  font: 30px/30px "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
}

.title-small {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

/* Стили для кнопок сайта */
.button {
  display: inline-block;
  box-sizing: content-box;
  min-width: 155px;
  padding: 10px 20px;
  font: 14px/18px "Cuprum", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
  outline: none;
}

.button:active {
  background-color: #ba2732;
}

.button-second {
  display: inline-block;
  box-sizing: content-box;
  padding: 9px 14px 9px 15px;
  font: 13px/18px "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  cursor: pointer;
}

.button-second:hover,
.button-second:focus {
  border-color: #bdc6ca;
  outline: none;
}

.button-second:active {
  border-color: #ee3643;
}

/* Шапка сайта */
.page__header {
  margin-bottom: 59px;
}

.inner-page .page__header {
  margin-bottom: 21px;
}

.header {
  padding-bottom: 60px;
  background-color: #f2f6f8;
}

.header__top {
  min-height: 42px;
  font: 17px/18px "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  background-color: #293449;
}

.header__top .container {
  display: flex;
}

/* Логотип сайта */
.header__logo {
  margin-bottom: -5px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 43px;
  padding-bottom: 4px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
}

.logo[href]:hover,
.logo[href]:focus {
  background-color: #ca2c37;
  outline: none;
}

.logo[href]:active {
  background-color: #ba2732;
}

/* Форма поиска */
.header__search {
  display: flex;
  flex-direction: row-reverse;
  width: 270px;
}

.header__search-field {
  flex-grow: 1;
  padding: 0;
  padding-right: 10px;
  padding-left: 1px;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
}

.header__search-field::placeholder {
  color: inherit;
  opacity: 1;
}

.header__search-field:hover {
  background-color: #212a3a;
}

.header__search-field:focus {
  color: #000000;
  background-color: #ffffff;
  outline: none;
}

.header__search-field:focus::placeholder {
  opacity: 0.4;
}

.header__search-button {
  width: 48px;
  padding: 0;
  padding-top: 3px;
  padding-left: 3px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.3;
}

.header__search-button:hover,
.header__search-button:focus {
  background-color: #212a3a;
  outline: none;
  opacity: 1;
}

.header__search-button:active,
.header__search-field:focus + .header__search-button {
  background-color: #ffffff;
  opacity: 1;
}

.header__search-button:active path,
.header__search-field:focus + .header__search-button path {
  fill: #ee3643;
}

/* Ссылки для заказа */
.header__buttons {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
}

.header__button {
  position: relative;
  width: 130px;
  padding: 12px 10px;
  text-align: center;
  color: inherit;
}

.header__button:hover,
.header__button:focus {
  background-color: #212a3a;
  outline: none;
}

.header__button:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.header__button--bookmarks,
.header__button--cart {
  width: 93px;
  padding-left: 47px;
  text-align: left;
}

.header__button--bookmarks::before,
.header__button--cart::before {
  content: "";
  position: absolute;
  left: 17px;
  width: 15px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header__button--bookmarks::before {
  background-image: url("../img/icon-bookmarks.svg");
}

.header__button--cart::before {
  background-image: url("../img/icon-cart.svg");
}

.header__button--bookmarks:hover::before,
.header__button--bookmarks:focus::before,
.header__button--cart:hover::before,
.header__button--cart:focus::before {
  opacity: 1;
}

.header__button--bookmarks:active::before,
.header__button--cart:active::before {
  opacity: 0.5;
}

.header__button--full {
  background-color: #ee3643;
}

.header__button--full:hover,
.header__button--full:focus {
  background-color: #ca2c37;
}

.header__button--full:active {
  background-color: #ba2732;
}

.header__button--order {
  background-color: #63a63e;
}

.header__button--order:hover,
.header__button--order:focus {
  background-color: #5fbb2d;
}

.header__button--order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

/* Средняя часть шапки */
.header__middle {
  display: flex;
  padding-top: 46px;
  padding-bottom: 39px;
}

/* Заголовок сайта */
.header__title {
  width: 200px;
  margin: 0;
  margin-right: 20px;
  padding-top: 3px;
  padding-right: 47px;
  padding-left: 53px;
  font: italic 16px/23px "Cuprum", "Arial", sans-serif;
  color: #ee3643;
}

/* Контактные данные */
.header__contacts {
  width: 270px;
  margin: 0;
  margin-right: auto;
  font: 14px/24px "Cuprum", "Arial", sans-serif;
  text-align: center;
  color: #32425c;
}

.header__contacts b {
  display: block;
  margin-bottom: 2px;
  padding: 10px;
  padding-left: 32px;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  background: url("../img/icon-phone.svg") 12px 10px no-repeat;
  border: 3px solid #ffffff;
}

/* Пользовательская навигация */
.user-nav {
  width: 300px;
  font: 21px/21px "Cuprum", "Arial", sans-serif;
}

.user-nav__login {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 7px;
}

.user-nav__button {
  position: relative;
  padding: 12px 24px;
  color: #000000;
  background-color: #ffffff;
}

.user-nav__button:hover,
.user-nav__button:focus {
  color: #ee3643;
  outline: none;
}

.user-nav__button svg {
  position: absolute;
  top: 14px;
  left: 14px;
}

.user-nav__button:hover path,
.user-nav__button:focus path {
  fill: #32425c;
}

.user-nav__button:active path {
  fill: #c5c5c5;
}

.user-nav__button--login {
  margin-right: 10px;
  padding-left: 49px;
}

.user-nav__button--profile {
  flex-grow: 1;
  padding-right: 0;
  padding-left: 48px;
}

.user-nav__button--logout {
  width: 21px;
  padding-right: 10px;
  padding-left: 14px;
}

.user-nav__button--profile:hover,
.user-nav__button--profile:focus,
.user-nav__button--logout:hover,
.user-nav__button--logout:focus {
  color: #000000;
}

.user-nav__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__account {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-right: 18px;
  padding-left: 18px;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.user-nav__account li + li {
  position: relative;
  margin-left: 33px;
}

.user-nav__account li + li::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -17px;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
}

.user-nav__account a {
  color: inherit;
  text-decoration: underline;
}

.user-nav__account a:hover,
.user-nav__account a:focus {
  color: #ee3643;
  outline: none;
}

.user-nav__account a:active {
  color: rgba(50, 66, 92, 0.3);
}

/* Основная навигация по сайту */
.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 60px;
  font: 17px/17px "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: inset 0 -5px #293449;
}

.site-nav a {
  padding: 20px 31px;
  text-align: center;
  color: inherit;
}

.site-nav a:hover,
.site-nav a:focus {
  background-color: #293449;
  outline: none;
}

.site-nav a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

/* Промо-блок */
.page__promo {
  margin-top: 20px;
  margin-bottom: 53px;
}

.promo__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.promo__row--slider {
  flex-direction: column;
  flex-wrap: wrap-reverse;
  align-content: space-between;
  height: 266px;
}

/* Карточки промо-блока */
.promo-card {
  position: relative;
  width: 254px;
  min-height: 81px;
  padding: 21px 23px;
  color: #ffffff;
  background-color: #c5c5c5;
  background-repeat: no-repeat;
}

.promo-card--new::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  width: 60px;
  height: 59px;
  background: url("../img/new-flag.png") 0 0 no-repeat;
}

.promo-card h3 {
  margin: 0;
  margin-bottom: 13px;
  font: bold 24px/30px "Cuprum", "Arial", sans-serif;
}

.button--promo {
  min-width: 95px;
  background-color: rgba(0, 0, 0, 0.1);
}

.button--promo:hover,
.button--promo:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.button--promo:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-card--material {
  background-color: #ffbf47;
  background-image: url("../img/promo-material.svg");
  background-position: top 31px right 43px;
}

.promo-card--tools {
  background-color: #3bbce3;
  background-image: url("../img/promo-tools.svg");
  background-position: top 33px right 28px;
}

.promo-card--tech {
  background-color: #dc91d8;
  background-image: url("../img/promo-tech.svg");
  background-position: top 31px right 31px;
}

.promo-card--sale {
  background-color: #8ed78f;
  background-image: url("../img/promo-sale.svg");
  background-position: top 26px right 45px;
}

.promo-card--delivery {
  background-color: #ffc047;
  background-image: url("../img/promo-delivery.svg");
  background-position: top 32px right 31px;
}

/* Слайдер промо-блока */
.slider {
  position: relative;
  width: 620px;
  height: 266px;
  font: 18px/24px "Cuprum", "Arial", sans-serif;
  color: #ffffff;
}

.slider__control {
  position: absolute;
  right: 230px;
  bottom: 36px;
  left: 230px;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.slider__control label {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider__control label + label {
  margin-left: 10px;
}

.slider__control label::before,
.slider__control label::after {
  position: absolute;
  top: -100px;
  width: 25px;
  height: 25px;
  border: 0 solid #ffffff;
  border-top-width: 3px;
  border-right-width: 3px;
}

.slider__control label::before {
  left: -199px;
  transform: rotate(-135deg);
}

.slider__control label::after {
  right: -204px;
  transform: rotate(45deg);
}

.slider__radio:focus ~ .slider__control label {
  box-shadow: 0 0 5px 1px #ffffff;
}

#slider-1:checked ~ .slider__control label[for="slider-1"],
#slider-2:checked ~ .slider__control label[for="slider-2"] {
  background-color: #ee3643;
}

#slider-1:checked ~ .slider__control label[for="slider-2"]::before,
#slider-1:checked ~ .slider__control label[for="slider-2"]::after,
#slider-2:checked ~ .slider__control label[for="slider-1"]::before,
#slider-2:checked ~ .slider__control label[for="slider-1"]::after {
  content: "";
}

.slider__item {
  position: absolute;
  display: none;
  width: 570px;
  height: 221px;
  padding: 23px 25px 22px;
  background-color: #c5c5c5;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider__item p {
  margin: 0;
}

.slider__item--perforator {
  background-image: url("../img/slider-1.jpg");
}

.slider__item--drill {
  background-image: url("../img/slider-2.jpg");
}

#slider-1:checked ~ .slider__inner .slider__item--perforator,
#slider-2:checked ~ .slider__inner .slider__item--drill {
  display: block;
}

.slider__title {
  margin: 0;
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider__button {
  position: absolute;
  bottom: 22px;
  left: 25px;
}

/* Блок популярных товаров */
.page__popular {
  margin-top: 20px;
  margin-bottom: 1px;
}

.popular__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

/* Заголовок раздела на главной странице */
.page__heading {
  margin-top: 20px;
  margin-bottom: 20px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 38px;
  padding: 25px 24px 26px 28px;
  background-color: #f9f5f0;
}

.title--heading {
  color: #32425c;
}

.button--wide {
  min-width: 213px;
}

/* Карточка товара */
.popular__product {
  margin-bottom: 20px;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 218px;
  min-height: 296px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.product:hover,
.product:focus-within {
  border-color: transparent;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.product--new::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 5;
  width: 60px;
  height: 59px;
  background: url("../img/new-flag.png") 0 0 no-repeat;
}

.product__title {
  width: 178px;
  margin: 0;
  margin-bottom: 11px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.product__title a {
  color: inherit;
}

.product__model {
  text-transform: uppercase;
}

.product__image {
  order: -1;
  margin-bottom: 9px;
}

.product__price {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: auto;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.product__price s {
  margin-bottom: 10px;
  color: #999999;
  text-decoration: line-through;
}

.product__price b {
  position: relative;
  width: 112px;
  margin-right: 11px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px 0 0 3px;
}

.product__price b::after {
  content: "";
  position: absolute;
  top: 0;
  right: -19px;
  width: 0;
  height: 0;
  border: 19px solid #ee3643;
  border-top-color: transparent;
  border-right: none;
  border-bottom-color: transparent;
}

.product__buttons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 84px;
  margin: 0;
  padding: 43px 41px;
  background-color: #ffffff;
  opacity: 0;
}

.product:hover .product__buttons,
.product:focus-within .product__buttons {
  opacity: 1;
}

.button--buy {
  position: relative;
  min-width: auto;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #63a63e;
  box-shadow: inset 0 -3px #367315;
}

.button--buy:hover,
.button--buy:focus {
  background-color: #5fbb2d;
}

.button--buy:active {
  background-color: #518534;
  box-shadow: none;
}

.button--buy::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 14px;
  width: 15px;
  height: 16px;
  background: url("../img/icon-cart.svg") 0 0 no-repeat;
  opacity: 0.3;
}

.button--buy:hover::before,
.button--buy:focus::before,
.button--buy:active::before {
  opacity: 1;
}

.button--bookmarks {
  min-width: auto;
  padding: 7px 10px;
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.button--bookmarks:hover,
.button--bookmarks:focus {
  background-color: inherit;
  border-color: #32425c;
}

.button--bookmarks:active {
  background-color: inherit;
  opacity: 0.3;
}

/* Блок популярных производителей */
.page__brands {
  margin-bottom: 65px;
}

.brands__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin-top: 20px;
}

/* Карточка производителя */
.brands__link {
  width: 218px;
  min-height: 143px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.brands__link:hover,
.brands__link:focus {
  border-color: transparent;
  outline: none;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brands__link:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.brands__link img {
  display: block;
}

.brands__link:active img {
  opacity: 0.3;
}

/* Блок сервисов */
.page__services {
  margin-top: 20px;
  margin-bottom: 79px;
}

.services {
  padding-top: 65px;
  background-color: #f2f6f8;
}

.services__title {
  margin-bottom: 26px;
}

.services__text {
  width: 400px;
  margin: 0;
  margin-bottom: 23px;
}

/* Слайдер сервисов */
.tabs {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 330px;
  margin: 0;
}

.tabs__control {
  order: -1;
  width: 240px;
}

.tabs__control:first-of-type {
  margin-top: 46px;
}

.tabs__button {
  width: 240px;
  height: 62px;
  padding: 10px 22px 14px;
  font: bold 21px/30px "Cuprum", "Arial", sans-serif;
  text-align: left;
  color: #ffffff;
  background-color: #32425c;
  border: none;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  cursor: pointer;
}

.tabs__button:hover,
.tabs__button:focus {
  color: #ffffff;
  background-color: #293449;
  outline: none;
}

.tabs__button:active,
.tabs__button--current {
  color: #32425c;
  background-color: #ffffff;
  border-color: transparent;
}

.tabs__item {
  position: absolute;
  top: 0;
  left: 240px;
  display: none;
  width: 620px;
  height: 286px;
  margin: 0;
  padding-top: 44px;
  padding-left: 80px;
  background-color: #f2f6f8;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.tabs__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 10px;
  height: 279px;
  background: url("../img/services-shadow.png") 0 0 no-repeat;
  opacity: 0.25;
}

.tabs__item p {
  margin: 0;
}

.tabs__item--current {
  display: block;
}

.tabs__item--delivery {
  background-image: url("../img/services-delivery.png");
}

.tabs__item--delivery p {
  width: 277px;
}

.tabs__item--warranty {
  width: 630px;
  background-image: url("../img/services-warranty.png");
}

.tabs__item--warranty p {
  width: 377px;
}

.tabs__item--credit {
  width: 630px;
  background-image: url("../img/services-credit.png");
}

.tabs__item--credit p {
  margin-bottom: 26px;
}

.tabs__item--credit .button {
  min-width: 115px;
}

.tabs__title {
  margin-bottom: 25px;
}

.title--tabs {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}

/* Блок колонок */
.columns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Блок о компании */
.about {
  width: 540px;
}

.about h2 {
  margin-bottom: 26px;
}

.about p {
  margin: 0;
  margin-bottom: 24px;
}

.about p:last-of-type {
  margin-bottom: 21px;
}

.about__list {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  padding-left: 36px;
  list-style: none;
  font: 18px/20px "Cuprum", "Arial", sans-serif;
}

.about__list li {
  position: relative;
}

.about__list li + li {
  margin-top: 20px;
}

.about__list li::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -36px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.button--medium {
  min-width: 180px;
}

/* Блок контактов */
.contacts {
  width: 300px;
}

.contacts h2 {
  margin-bottom: 26px;
}

.contacts p {
  width: 190px;
  margin: 0;
  margin-bottom: 31px;
}

.contacts__map-image {
  display: block;
  margin-bottom: 32px;
}

.button--full {
  display: block;
  flex-grow: 1;
}

/* «Хлебные крошки» */
.page__breadcrumbs {
  margin-top: 20px;
  margin-bottom: 20px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs__item + .breadcrumbs__item {
  position: relative;
  margin-left: 40px;
}

.breadcrumbs__item + .breadcrumbs__item::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -28px;
  width: 8px;
  height: 8px;
  border: 0 solid #c1c6ce;
  border-top-width: 1px;
  border-right-width: 1px;
  transform: rotate(45deg);
}

.breadcrumbs__item a {
  color: #000000;
}

.breadcrumbs__item--home a {
  display: inline-block;
  width: 15px;
  height: 100%;
  min-height: 12px;
  background: url("../img/icon-home.svg") -1px 2px no-repeat;
}

/* Заголовок страницы каталога */
.heading--light {
  background-color: #f2f6f8;
}

/* Фильтр товаров */
.filters {
  width: 220px;
}

.filters__title {
  margin-bottom: 11px;
  padding: 10px 19px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.filters-form {
  text-transform: uppercase;
}

.filters-form__part {
  margin: 0;
  padding: 20px 0 25px;
  border: none;
}

.filters-form__part:not(:last-of-type) {
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.filters-form__part:last-of-type {
  margin-bottom: 53px;
}

.filters-form__part legend {
  margin-bottom: -6px;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filters-form__slider {
  position: relative;
  height: 80px;
  margin-bottom: 9px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.filters-form__range {
  position: absolute;
  top: 39px;
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
}

.filters-form__track {
  position: absolute;
  right: 30px;
  left: 0;
  height: 100%;
  background-color: #00ca74;
}

.filters-form__thumb {
  position: absolute;
  top: 30px;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px rgba(171, 171, 171, 0.3);
  cursor: ew-resize;
}

.filters-form__thumb:last-of-type {
  right: 40px;
}

.filters-form__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.filters-form__price input {
  width: 95px;
  height: 38px;
  padding: 0;
  font: inherit;
  font-size: 17px;
  text-align: center;
  color: #000000;
  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
  appearance: textfield;
}

.filters-form__price input::-webkit-inner-spin-button,
.filters-form__price input::-webkit-outer-spin-button {
  appearance: none;
}

.filters-form__option {
  padding-left: 34px;
  font-size: 15px;
  line-height: 20px;
}

.filters-form__option + .filters-form__option {
  margin-top: 20px;
}

.filters-form__option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filters-form__input--checkbox + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -34px;
  width: 19px;
  height: 19px;
  color: #c5c5c5;
  border: 2px solid currentColor;
  border-radius: 2px;
}

.filters-form__input--checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -29px;
  width: 16px;
  height: 7px;
  color: #c5c5c5;
  border: 0 solid currentColor;
  border-bottom-width: 4px;
  border-left-width: 4px;
  box-shadow:
    inset 0 -2px #ffffff,
    0 2px #ffffff;
  transform: rotate(-45deg);
}

.filters-form__input--checkbox:hover + label::before,
.filters-form__input--checkbox:focus + label::before,
.filters-form__input--checkbox:hover + label::after,
.filters-form__input--checkbox:focus + label::after {
  color: #b5b5b5;
}

.filters-form__input--checkbox:disabled + label::before,
.filters-form__input--checkbox:disabled + label::after {
  color: #e9e9e9;
}

.filters-form__input--radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;
  width: 9px;
  height: 9px;
  padding: 4px;
  color: #c5c5c5;
  background-clip: content-box;
  border: 4px solid currentColor;
  border-radius: 50%;
}

.filters-form__input--radio:checked + label::before {
  background-color: currentColor;
}

.filters-form__input--radio:hover + label::before,
.filters-form__input--radio:focus + label::before,
.filters-form__input--radio:checked:hover + label::before,
.filters-form__input--radio:checked:focus + label::before {
  color: #b5b5b5;
}

.filters-form__input--radio:disabled + label::before {
  color: rgba(181, 181, 181, 0.3);
}

.filters-form__input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
  cursor: default;
}

.button-second--medium {
  min-width: 109px;
}

/* Колонка */
.column {
  width: 700px;
}

/* Сортировка товаров */
.page__sorting {
  margin-bottom: 20px;
}

.sorting {
  display: flex;
  height: 18px;
  padding: 10px 17px 10px 19px;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.sorting__title {
  margin-right: auto;
}

.sorting__type {
  display: flex;
  justify-content: space-between;
  width: 354px;
  margin-right: 46px;
}

.sorting__button {
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sorting__button:hover,
.sorting__button:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
  outline: none;
}

.sorting__button:active,
.sorting__button--active {
  color: #ee3643;
  border: none;
}

.sorting__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 43px;
}

.sorting__arrow {
  width: 0;
  height: 0;
  border: 0 solid #c5c5c5;
  border-width: 10px 5.5px;
}

.sorting__arrow:hover,
.sorting__arrow:focus {
  border-top-color: #231f20;
  border-bottom-color: #231f20;
  outline: none;
}

.sorting__arrow:active,
.sorting__arrow--active {
  border-top-color: #ee3643;
  border-bottom-color: #ee3643;
}

.sorting__arrow--up {
  border-top: none;
  border-right-color: transparent;
  border-left-color: transparent;
}

.sorting__arrow--down {
  border-right-color: transparent;
  border-bottom: none;
  border-left-color: transparent;
}

/* Каталог товаров */
.page__catalog {
  margin-top: 20px;
  margin-bottom: 40px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 32px;
}

.catalog__product {
  margin-bottom: 20px;
}

.catalog__product:nth-child(-n+3) {
  margin-top: 0;
}

.catalog__product:nth-child(3n+1) {
  margin-left: 0;
}

/* Пагинация */
.page__pagination {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
}

.pagination__link + .pagination__link {
  margin-left: 10px;
}

.button-second--current,
.button-second--current:hover,
.button-second--current:focus,
.button-second--current:active {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;
  cursor: auto;
}

/* Описание категории товара */
.page__description {
  margin-top: 20px;
}

.description {
  padding-top: 65px;
  padding-bottom: 68px;
  background-color: #f2f6f8;
}

.description__title {
  margin-bottom: 26px;
}

.description p {
  margin: 0;
}

/* Подвал сайта */
.page__footer {
  margin-top: 86px;
}

.inner-page .page__footer {
  margin-top: 0;
}

.footer {
  background-color: #32425c;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 49px;
}

.footer__column {
  width: 330px;
}

/* Логотип сайта в подвале */
.footer__logo {
  margin-bottom: 28px;
}

.logo--footer {
  height: 64px;
}

/* Контактные данные в подвале */
.footer__contacts {
  padding-left: 3px;
  font: normal 18px/24px "Cuprum", "Arial", sans-serif;
  color: #f3f7f9;
}

/* Дополнительная навигация по сайту */
.footer__nav {
  width: 560px;
  padding-top: 38px;
}

.footer__second-nav + .footer__second-nav {
  margin-top: 34px;
}

.second-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font: 18px/24px "Cuprum", "Arial", sans-serif;
  color: #f1f5f7;
}

.second-nav a {
  color: inherit;
}

.second-nav a + a {
  margin-left: 59px;
}

.second-nav--alternate a {
  color: #ffd180;
}

.second-nav a:hover,
.second-nav a:focus {
  text-decoration: underline;
  outline: none;
}

.second-nav a:active {
  text-decoration: none;
  opacity: 0.5;
}

/* Нижняя часть подвала */
.footer__bottom {
  padding-top: 37px;
  padding-bottom: 35px;
  font: 16px/18px "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  background-color: #293449;
}

.footer__bottom .container {
  display: flex;
  justify-content: flex-start;
}

.footer__copyright {
  width: 240px;
  margin: 0;
  margin-right: 150px;
}

/* Социальные кнопки */
.footer__social {
  margin-right: 117px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 133px;
}

.social__button {
  width: 41px;
  height: 41px;
  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.social__button:hover,
.social__button:focus,
.social__button:active {
  background-color: #ee3643;
  outline: none;
}

.social__button--vk {
  background-image: url("../img/social-icon-vk.svg");
}

.social__button--fb {
  background-image: url("../img/social-icon-fb.svg");
}

.social__button--in {
  background-image: url("../img/social-icon-insta.svg");
}

/* Стили ссылок нижней части подвала */
.footer__bottom a {
  color: #ffd180;
}

.footer__bottom a:hover,
.footer__bottom a:focus {
  text-decoration: underline;
  outline: none;
}

.footer__bottom a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer__email {
  width: 140px;
  margin: 0;
  margin-right: 50px;
}

.footer__dev {
  width: 100px;
  margin: 0;
}

/* Всплывающие окна */
.modal {
  position: relative;
  z-index: 10;
  background-color: #ffffff;
  border-top: 7px solid #ff5257;
}

.modal__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 37px 80px;
  background-color: #f4f4f4;
}

.modal__buttons .button {
  flex-basis: 140px;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 39px;
  height: 39px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__close::before,
.modal__close::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 6px;
  width: 27px;
  height: 4px;
  background-color: #ee3643;
}

.modal__close::before {
  transform: rotate(45deg);
}

.modal__close::after {
  transform: rotate(-45deg);
}

.hidden {
  display: none;
}

/* Всплывающее окно обратной связи */
.modal--contacts {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 620px;
  min-height: 423px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  transform: translate(-50%, -50%);
}

.contacts-form__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 47px 80px 29px;
}

.contacts-form__item {
  width: 220px;
}

.contacts-form__item--wide {
  width: 100%;
}

.contacts-form__item label {
  display: block;
  margin-bottom: 9px;
  font: 18px/18px "Cuprum", "Arial", sans-serif;
}

.contacts-form__item input,
.contacts-form__item textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 14px;
  font: inherit;
  line-height: 18px;
  background-color: transparent;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.contacts-form__item input {
  margin-bottom: 21px;
}

.contacts-form__item textarea {
  height: 114px;
}

.contacts-form__item input::placeholder {
  color: #a9a9a9;
  opacity: 1;
}

.contacts-form__item textarea::placeholder {
  color: #a9a9a9;
  opacity: 1;
}

.contacts-form__item input:hover,
.contacts-form__item textarea:hover {
  border-color: #b5b5b5;
}

.contacts-form__item input:focus,
.contacts-form__item textarea:focus {
  border-color: #ee3643;
}

/* Всплывающее окно с картой */
.modal--map {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 940px;
  height: 446px;
  background: #ebf0f0 url("../img/map-large.png") 0 0 no-repeat;
  border: none;
  box-shadow: 0 0 14.72px 1.28px rgba(47, 42, 43, 0.5);
  transform: translate(-50%, -50%);
}

.modal--map iframe {
  border: none;
}

/* Всплывающее окно с добавлением товара в корзину */
.modal--cart {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 620px;
  min-height: 275px;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
  transform: translate(-50%, -50%);
}

.modal__inner {
  display: table;
  height: 66px;
  padding: 48px 80px 49px 180px;
}

.modal--cart b {
  position: relative;
  display: table-cell;
  font: 30px/30px "Cuprum", "Arial", sans-serif;
  vertical-align: middle;
}

.modal--cart b::before {
  content: "";
  position: absolute;
  top: 0;
  left: -99px;
  width: 66px;
  height: 66px;
  background: url("../img/icon-success.svg") 0 0 no-repeat;
}

.button--continue {
  color: #000000;
  background-color: #ffffff;
}

.button--continue:hover,
.button--continue:focus {
  background-color: #dbd9d9;
}

.button--continue:active {
  background-color: #ccc8c8;
}

/* Доступное скрытие элемента */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
